@{
    ViewData["Title"] = "О нас";
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/style.css" rel="stylesheet" type="text/css" />

    <h2>О нас</h2>
    <br>
    <h5>Приветствуем вас на сайте CompMax - лидере по продаже компьютерных аксессуаров и комплектующих. Мы стремимся обеспечить нашим клиентам максимум удобства, широкий выбор товаров высокого качества и профессиональную поддержку. </h5><br />

    <h4>Наши преимущества: </h4>
<h5>1. Широкий ассортимент: Мы предлагаем широкий ассортимент компьютерных аксессуаров и комплектующих, чтобы удовлетворить все ваши потребности. У нас вы найдете процессоры, видеокарты, оперативную память, жесткие диски, мониторы, клавиатуры, мыши, наушники и многое другое. Мы работаем только с проверенными производителями, чтобы гарантировать высокое качество продукции.</h5><br/>
<h5>2. Качество и надежность: Мы осуществляем тщательный контроль качества всех товаров, чтобы убедиться, что они соответствуют самым высоким стандартам. Мы гарантируем долговечность и надежность нашей продукции, чтобы вы получили максимальное удовлетворение от использования компьютера.</h5>
<br />
<h5>3. Наша команда: Наша команда состоит из опытных специалистов, которые всегда готовы помочь вам. Мы предлагаем консультации и рекомендации по выбору и покупке товаров, чтобы помочь вам сделать правильный выбор. Мы также предоставляем гарантийное обслуживание и техническую поддержку, чтобы обеспечить безупречную работу ваших компонентов и аксессуаров.</h5>
<br />
<h5>4. Удобство покупок: Мы понимаем, что ваше время ценно. Поэтому мы предлагаем удобные условия покупки, включая простой онлайн-заказ с доставкой по всей стране. Вы можете легко выбрать и приобрести необходимые товары, не выходя из дома или офиса.</h5>
<br />

    <h5>Наша миссия - предоставить вам все необходимое для оптимальной работы вашего компьютера. Мы стремимся быть вашими надежными партнерами в сфере компьютерной техники и помочь вам насладиться высокой производительностью ваших устройств.</h5><br />
    <h5>CompMax - максимум для вашего компьютера!</h5>