@{
    ViewData["Title"] = "Договор";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Договор</title>
</head>
<body>
    <h2>Договор между покупателем и продавцом</h2><br>
    <h5>1. ОБЪЕКТ ДОГОВОРА</h5>
    <p>Продавец обязуется предоставить Покупателю доступ к своему интернет-магазину, где будет осуществляться продажа компьютерных комплектующих. Покупатель обязуется осуществлять покупку товаров через указанный интернет-магазин.</p>

    <h5>2. УСЛОВИЯ ПОКУПКИ</h5>
    <p>2.1 Продавец обязуется предоставить Покупателю актуальную информацию о всех товарах, их ценах, характеристиках и наличии на складе.</p>
    <p>2.2 Покупатель обязуется ознакомиться с информацией о товаре перед его покупкой, включая характеристики, цены и условия доставки.</p>
    <p>2.3 Покупатель осуществляет покупку товара через интернет-магазин, добавляя товары в корзину и оформляя заказ. Продавец обязуется обработать заказ и предоставить информацию о стоимости заказа, включая стоимость товара, доставки и налогов.</p>
    <p>2.4 Покупатель обязуется оплатить стоимость заказа в полном объеме в течение указанного срока. Оплата может осуществляться различными способами, указанными на сайте Продавца.</p>

    <h5>3. ДОСТАВКА</h5>
    <p>3.1 Продавец обязуется осуществить доставку товара Покупателю в соответствии с указанными условиями на сайте.</p>
    <p>3.2 Покупатель обязуется предоставить актуальные и правильные данные для доставки, включая адрес и контактные данные.</p>
    <p>3.3 Продавец не несет ответственности за задержки или недоставку товара, вызванные непредвиденными обстоятельствами, включая стихийные бедствия, забастовки, ограничения перевозки и действия третьих лиц.</p>

    <h5>4. ГАРАНТИЯ И ВОЗВРАТ</h5>
    <p>4.1 Продавец предоставляет гарантию на товары в течение указанного срока, если не указано иное.</p>
    <p>4.2 Покупатель вправе вернуть товар в течение указанного срока с момента получения, если товар имеет дефекты, не соответствует заявленным характеристикам или не является заказанным товаром.</p>
    <p>4.3 Продавец обязуется осуществить замену дефектного товара или вернуть средства Покупателю в случае возврата товара по причинам, указанным в пункте 4.2.</p>

    <h5>5. КОНФИДЕНЦИАЛЬНОСТЬ</h5>
    <p>5.1 Продавец обязуется обеспечить конфиденциальность данных и личной информации Покупателя в соответствии с действующим законодательством.</p>
    <p>5.2 Покупатель соглашается на использование своей личной информации Продавцом в целях обработки заказа и осуществления доставки товара.</p>

    <h5>6. ОТВЕТСТВЕННОСТЬ</h5>
    <p>6.1 Продавец не несет ответственности за прямой или косвенный ущерб, вызванный использованием или неправильным использованием приобретенных товаров.</p>
    <p>6.2 Продавец не несет ответственности за любые действия или пропуски третьих лиц, связанных с доставкой товара или использованием личной информации Покупателя.</p>

    <h5>7. ИЗМЕНЕНИЕ УСЛОВИЙ ДОГОВОРА</h5>
    <p>Продавец оставляет за собой право вносить изменения в условия настоящего договора, уведомив Покупателя об этом на сайте или по электронной почте.</p>
</body>
</html>