@{
    ViewData["Title"] = "Доставка";
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<h2>Доставка товара</h2>
<h5>1. При Заказе Товара Покупателем на условиях доставки Продавец приложит все усилия, чтобы соблюсти сроки доставки Товара, указанные на Сайте или согласованные с Покупателем после оформления заказа, при этом не исключая причин, которые могут возникнуть и повлиять на сроки доставки в виде непредвиденных событий и обстоятельств, произошедших не по вине Продавца.</h5>
<h5>2. Риск случайной гибели или случайного повреждения Товара переходит к Покупателю или Получателю в момент передачи Товара или проставления Покупателем или Получателем Товара личной подписи в документах, подтверждающих доставку Товара.</h5>
<h5>3. В момент доставки Товара лицо, осуществляющее доставку, демонстрирует Покупателю и/или Получателю внешний вид и комплектность Товара. Если товар имеет внешние недостатки, покупатель имеет право отказаться от товара.</h5>
<h5>4. Покупатель или Получатель в момент получения Товара получает пакет документов на Товар: - кассовый чек, при условии, что оплата производится в момент получения заказа; - гарантийный талон, при условии, что это предусмотрено заводом-изготовителем.</h5>
<h5>5. После получения Товара Покупателем или Получателем Продавец не принимает претензии по качеству и комплектности Товара за исключением претензий, имеющих в качестве обоснования заключение авторизованного сервисного центра.</h5>
<h5>6. Проверка Товара должна производиться с сохранением товарного вида.</h5>