@{
    ViewData["Title"] = "Оплата";
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<h2>Оплата</h2>
<br>
<h5>1. Цена Товара указывается рядом с определенным наименованием товара на Сайте интернет-магазина на странице товара в белорусских рублях и включает в себя налог на добавленную стоимость.</h5>
<h5>2. Цена Товара на Сайте интернет-магазина может быть изменена Продавцом в одностороннем порядке. При этом цена на Товар, на который оформлен Заказ, изменению не подлежит.</h5>
<h5>3. Оплата Товара Покупателем или Получателем производится в белорусских рублях в форме и способами, указанными Продавцом в разделе «оплата» на Сайте интернет-магазина.</h5>
<h5>4. Продавец вправе предоставлять Покупателю или Получателю скидки на Товары и устанавливать программу бонусов. Виды скидок, порядок и условия начисления и предоставления бонусов указываются на Сайте интернет-магазина в публичном доступе и могут быть изменены Продавцом в одностороннем порядке.</h5>
